{% extends "base.html" %}

{% block title %}LITReview – Flux{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col text-end">
            <a class="btn btn-success" href="{% url 'ticket_new' %}" role="button">Demander une critique</a>
        </div>
        <div class="col text-start">
            <a class="btn btn-success" href="{% url 'review_new' %}" role="button">Créer une critique</a>
        </div>
    </div>

    {% for ticket in ticket_list %}
        {% if ticket.reviews.all %}
            {% for review in ticket.reviews.all %}
                {% include 'include/review_snippet.html' %}
                {% endfor %}
        {% else %}
            {% include 'include/ticket_snippet.html' %}
        {% endif %}
    
    {% empty %}
        <hr style="color: transparent; margin-top: 30px;">
        <h2 class="text-center">Abonnez-vous à d'autres utilisateurs pour afficher leurs publications</h2>
    
    {% endfor %}

{% endblock %}