{% extends "base.html" %}

{% block title %}LITReview – Posts{% endblock %}

{% block content %}
    <h2 class="text-center">Vos posts</h2>

    {% for ticket in ticket_list %}

        {% if ticket.reviews.all %}
            {% for review in ticket.reviews.all %}
                {% if review.author.id == user.id %}
                    {% include 'include/review_snippet.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if ticket.author.id == user.id %}
            {% include 'include/ticket_snippet.html' %}
        {% endif %}

    {% empty %}
        <hr style="color: transparent; margin-top: 30px;">
        <h2 class="text-center">Créez des critiques et des demandes de critiques pour afficher vos publications</h2>

    {% endfor %}
    
{% endblock %}