{% extends "base.html" %}

{% block title %}LITReview – Posts{% endblock %}

{% block content %}
    <h2 class="text-center">Vos posts</h2>

    {% for ticket in ticket_list %}

        {% if ticket.reviews.all %}
            {% for review in ticket.reviews.all %}
                {% if review.author.id == user.id %}
                    {% include 'include/review_snippet.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if ticket.author.id == user.id %}
                {% include 'include/ticket_snippet.html' %}
            {% endif %}
        {% endif %}
    
    {% endfor %}
    
{% endblock %}