{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}LITReview – Créer une critique (pas en réponse à un ticket){% endblock %}

{% block content %}

    <h2 class="text-center">Créer une critique</h2>

    <h4 class="text-start">Livre / Article</h4>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ticket_form|crispy }}
    <hr>

    <h4 class="text-start">Critique</h4>
        {{ review_form|crispy }}
        <div class="text-end">
            <input class="btn btn-success" type="submit" value="Envoyer">
            <a class="btn btn-success" href="{% url 'home' %}" role="button">Annuler</a>
        </div>
    </form>

{% endblock content %}