{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}LITReview – Formulaire d'inscription{% endblock %}

{% block content %}
    <h2 class="text-center">Inscrivez-vous</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form|crispy }}
                <div class="row">
                    <div class="text-end">
                        <a class="btn btn-success" href="{% url 'login' %}" role="button">Retourner</a>
                        <button type="submit" class="btn btn-success">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}